In [ ]:
import pandas as pd

# a) Calculate: total_transactions, unique_users and total_transaction_amount for every date and hour combination

In [ ]:
# Sample dataset loading (assuming CSV format)

df = pd.read_csv("transactions.csv", parse_dates=["date_timestamp"])

In [ ]:
# Extract date and hour

df["date"] = df["date_timestamp"].dt.date
df["hour"] = df["date_timestamp"].dt.hour

In [ ]:
# Group by date and hour
grouped_df = df.groupby(["date", "hour"])

summary = pd.DataFrame({
    "total_transactions": grouped_df["transaction_id"].count(),
    "unique_users": grouped_df["user_id"].nunique(),
    "total_transaction_amount": grouped_df["transaction_amount"].sum()
}).reset_index()

In [ ]:
# Display the result

print(summary.head())

# b) Calculate hour with highest transaction_amount for every date

In [ ]:
# Grouping by date and hour to get the total transaction amount per hour

grouped = df.groupby(['date', 'hour'])['transaction_amount'].sum().reset_index()

In [ ]:
# Finding the hour with the highest transaction amount for each date

max_hour_per_day = grouped.loc[grouped.groupby('date')['transaction_amount'].idxmax()]

In [ ]:
# Display the result

print(max_hour_per_day)